apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: login-php-runner
  namespace: actions-runner-system
spec:
  replicas: 1
  template:
    spec:
      repository: brunoxy01/login-php
      labels:
        - self-hosted
        - linux
        - aks
      # Use Docker sidecar container
      dockerEnabled: true
      # Resources to ensure runner has enough capacity
      resources:
        limits:
          memory: "2Gi"
          cpu: "1000m"
        requests:
          memory: "1Gi"
          cpu: "500m"
      # Environment variables
      env:
        - name: RUNNER_FEATURE_FLAG_ONCE
          value: "true"
